body {
    margin: 0;
    padding: 0;
}


.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: red;
    position: relative;
    z-index: 1; /* Ensure content is above the overlay */
}


.namelogo {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    gap: 20px;
    margin: 0;
    padding: 0;
    margin-left: 3%;
}

.namelogo:first-child {
    display: flex;
    align-items: center;
    font-size: large;
}

#name {
    color: white;
}

ul {
    list-style: none;
}

.socials {
    display: flex;
    flex-direction: row;
    margin-right: 3%;
    gap: 10px;
}

.insta,
.twitter,
.bitjelogo a,
.bitjelogo {
    transition: 0.3s;
    text-decoration: none;
}

.insta:hover,
.twitter:hover,
.bitjelogo:hover a,
.bitjelogo:hover {
    transform: scale(1.1);
    transition: 0.3s;
    text-decoration: none;
}

.ik {
    display: flex;
    flex-direction: column;
}

.main-container {
    display: flex;
    clip-path: polygon(100% 0, 100% 54%, 0 100%, 0 0);
    background-color: red;
    width: 100%;
    height: 100%;
    height: 500px;
}

.typewriter h1,
.typewriter h2
{
    font-size: 44px;
    z-index: 1;
    position: relative;
    color: white;
    margin-left: 4%;    
}

.typewriter b {
    display: flex;
    font-size: 20px;
    color: white;
    width: 60%;
    margin-left: 4%;
}

#knownlang {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: end;
    transition: 1s;
}

.knownlanguage {
    width: 410px;
    color: red;
    border: solid 3px red;
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 75%;
    align-items: center;
    align-content: center;
    border-radius: 8px;
    margin-right: 2%;
    transition: 1s;
    font-size: 28px;
}

.knownlanguage:hover {
    transform: scale(1.1);
    transition: 1s;
}

.icons {
    transform: scale(1.7);
    margin-bottom: 3%;
}

#second {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100px;
    flex-wrap: wrap;
}

#second img {
    width: 190px;
    clip-path: circle(40%);
    transition: 2s;
}

#second img:hover {
    transform: scale(1.3);
    transition: 2s;
}

.me {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 44px;
}

#aboutmesection {
    display: flex;
    flex-direction: column;
    background-color: red;
    margin-top: 5%;
}

#aboutme {
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: space-around;
    background-color: red;
}

#aboutme p {
    width: 40%;
    display: flex;
    justify-content: flex-end;
    font-size: 26px;
}

img[alt="designing"] {
    width: 500px;
    clip-path: circle(70%);
    margin-bottom: 3%;
    transition: 1s;
}

img[alt="designing"]:hover {
    transform: scale(1.1);
    transition: 1s;
}

#education {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
}

a {
    color: white;
    transition: 1s;
}

a:hover {
    transform: scale(1.2);
    transition: 1s;
}

.edu {
    font-size: 44px;
    display: flex;
    justify-content: center;
    
}

.bit {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 20px;
    border: solid 7px white;
    height: 300px;
    width: 40%;
    margin-left: 2%;
    transition: 2s;
    background-color: red;
}

.bit img {
    border: solid 3px white;
    border-radius: 8px;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bit:hover {
    transform: scale(1.1);
    transition: 1s;
}

.bitimg {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bittext{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    color: white;
}

.bittext p {
    font-size: 24px;
}

#certificaten {
    margin-top: 5%;
    margin-bottom: 5%;
}

.carousel-container {
    display: flex;
    justify-content: center;
    position: relative;
    width: 80%;
    margin: auto;
    overflow: hidden;
  }
  
  .carousel {
    display: flex;
    justify-content: space-around;
    gap: 40px;
    transition: transform 0.5s ease-in-out;
    will-change: transform;
    margin-bottom: 2%;
    margin-top: 2%;
  }
  
  .carousel-item {
    min-width: 50%;
    background-color: transparent;
    border: 3px solid white;
    box-shadow: 0 0 20px rgb(255, 255, 255), 0 0 10px rgb(255, 255, 255), inset 0 0 7px rgb(255, 255, 255);
    text-shadow: 0 0 5px rgb(152, 152, 152), 0 0 10px rgb(160, 160, 160), 0 0 20px rgb(146, 146, 146), 0 0 30px rgb(172, 172, 172), 0 0 40px rgb(179, 179, 179), 0 0 55px rgb(156, 156, 156), 0 0 75px #676767;
    border-radius: 8px;
    width: 100%;
    padding: 10px;
    text-align: center;
  }

  .bitimgcarousel {
    width: 100px;
    height: 100px;
    border-radius: 8px;
  }
  
  button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
  }
  
  button:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .prev {
    left: 0;
  }
  
  .next {
    right: 0;
  }


::-webkit-scrollbar-thumb {
    box-shadow: 0 0 20px rgb(255, 255, 255), 0 0 30px rgb(255, 255, 255), inset 0 0 7px rgb(255, 255, 255);
    text-shadow: 0 0 5px rgb(0, 141, 143), 0 0 10px rgb(0, 141, 143), 0 0 20px rgb(0, 141, 143), 0 0 30px rgb(0, 141, 143), 0 0 40px rgb(0, 141, 143), 0 0 55px #da8fff, 0 0 75px #da8fff;
    background: white; 
    border-radius: 10px;
  }

  ::-webkit-scrollbar {
    width: 5px;
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(0, 0, 0); 
    border-radius: 10px;
  }
  

  .clip1 {
    clip-path: polygon(100% 0, 100% 54%, 0 100%, 0 0);
    background-color: red;
    width: 100%;
    height: 100%;
    width: 100vw;
    height: 280px;
  }